@layer reset, base, tokens, recipes, utilities;
@import "@fontsource/roboto-mono/400.css";

:root {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
